@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto+Mono:wght@400;500&display=swap');

/* For enhanced readability: 
Classes and selectors are arranged in the order that they appear in the HTML page. */

html {
    scroll-behavior: smooth;
}

* {
    filter: sepia(3%);
}

/* Mobile-first Approach Start */

/* Flex Properties Start */

.wrapper {
    width: 100%;
}

.group-column {
    display: flex;
    flex-direction: column;
}

.group-row {
    display: flex;
    flex-direction: row;
}

.item {
    flex: 1;
}

.toggle-nav-group {
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
}

.toggle-project-group {
    display: flex;
    flex-direction: column;
}

/* Flex Properties End */

h1 {
    flex: 1;
    font-family: "Roboto Mono", serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

.nav-item {
    flex: 1;
    background-color: #E5E5E5;
    text-align: center;
    margin: 0;
}

.toggle-nav-item {
    display: inline-block;
    list-style-type: none;
}

nav > ul {
    padding-left: 0px;
}

a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: hsl(0 0% 75%); }
a:active { color: hsl(0 0% 75%); }

.link-default {
    font-family: "Roboto Mono", sans-serif;
    font-size: 12px;
}

nav > ul > li > a.link-default {
    font-size: 16px;
    margin-right: 5px;
    text-decoration: none;
}

.bg-img-header {
    background-image: url(images/hollywood.jpg);
    padding: 100px;
}

.center {
    text-align: center;
}

.parallax {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding {
    padding: 20px;
}

img {
    width: 100%;
}

.portrait {
    border-radius: 50%;
    width: 20%;
}

.h2-default {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    margin: 0;
    text-align: center;
}

hr {
    border: 2px dashed #000;
}

.partial-width {
    width: 80%;
    margin: auto;
}

.text-default {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    line-height: 32px;
}

.left {
    text-align: left;
}

.project-head-padding {
    margin: 0;
    padding: 10px 20px 0 20px;
}

.project-padding {
    padding: 20px 0px;
}

.bg-img-thanks {
    background-image: url(images/hollywood-metro.jpg);
    background-position: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 75px;
}

form {
    margin: 20px;
}

form label {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    text-align: left;
}

form input {
    height: 16px;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
}

form textarea {
    height: 64px;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
}

input[type=text], #user-message {
    font-family: "Playfair Display", monospace;
    font-size: 12px;
}

form button {
    font-family: "Playfair Display", serif;
    font-size: 8px;
    text-align: left;
}

footer {
    background-color: #E5E5E5;
}

.footer-padding {
    padding: 2px 20px;
}

/* Mobile First Approach End */

/* Media Queries Start */

@media all and (min-width: 1200px) {

    /* Flex Properties Start */

    .toggle-nav-group {
        display: flex;
        flex-direction: row;
    }
    
    .nav-item {
        flex: 2;
        background-color: #E5E5E5;
        text-align: right;
        margin: 0;
    }

    .toggle-project-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Flex Properties End */


    /* .wrapper {
        width: 85%;
        margin: auto;
    } */

    h1 {
        align-self: center;
        font-size: 28px;
        font-weight: 500;
        margin: 0 0 0 30px;
        text-align: left;
    }

    nav > ul > li > a.link-default {
        font-size: 20px;
        margin-right: 30px;
    }

    .bg-img-header {
        background-image: url(images/hollywood.jpg);
        padding: 300px;
    }

    .parallax {
        background-attachment: fixed;
    }

    .padding {
        padding: 100px;
    }

    .h2-default {
        font-family: "Playfair Display", serif;
        font-size: 32px;
        text-align: center;
      }

    .text-default {
        font-family: "Playfair Display", serif;
        font-size: 16px;
        line-height: 32px;
    }

    .project-head-padding {
        padding: 100px 100px 0 100px;
    }

    .project-padding {
        padding: 20px 50px;
    }

    .project-screenshot {
        width: 75%;
    }

    .bg-img-thanks {
        background-image: url(images/hollywood-metro.jpg);
        padding: 200px;
    }

    form {
        width: 50%;
        margin: auto;
    }
    
    form input {
        height: 32px;
        margin-bottom: 10px;
    }

    form textarea {
        height: 128px;
        margin-bottom: 10px;
    }

    input[type=text], #user-message {
        font-family: "Playfair Display", monospace;
        font-size: 16px;
    }

    form button {
        font-family: "Playfair Display", serif;
        font-size: 16px;
    }

    .footer-padding {
        padding: 20px 200px;
    }

}