@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Raleway&family=Roboto:wght@300;400&display=swap');

html {
    scroll-behavior: smooth;
}

body {
  color: #050505;
}

/* Typography */

.center {
  text-align: center;
}

.left {
  text-align: left;
}

h1 {
  /* color: #ADC4D1; */
  color: #050505;
  font-size: 24px;
}

h1, h2, h3 {
  flex: 1;
  font-family: "Lora", serif;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  text-align: left;
}

li {
  font-family: "Raleway", sans-serif;
  margin: 5px;
}

a {
  color: #050505;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin-right: 5px;
  text-decoration: none;
}

a:hover { 
  color: #ADC4D1;
}

.nav-link {
  /* color: #DEE1EA; */
  color: #050505;
  font-family: "Lora", serif;
  font-size: 16px;
  margin-right: 5px;
  text-decoration: none;
}

.foot-link {
  color: #8d919c;
  font-family: "Lora", serif;
  font-size: 14px;
}

/* Containers/Groups */

.wrapper {
  width: 99%;
  margin: auto;
}

.group {
  display: flex;
  flex-flow: column wrap;
}

.header-group {
  background-color: #FFF;
  display: flex;
  flex-flow: column wrap; 
}

.nav-group {
  /* background-color: #050505; */
  border-top: 1px solid #ADC4D1;
  /* border-bottom: 1px solid #ADC4D1; */
  flex: 1;
  text-align: center;
}

.project-group {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
}

.footer-group {
  background-color: #FFF;
  border-top: 1px solid #ADC4D1;
  color: #8d919c;
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
}

/* Position & Sizing */

.padding {
  padding: 100px 20px;
}

.parallax {
  background-repeat: no-repeat;
  background-size: cover;
}

/* Specific Elements */

ol, ul {
  padding-inline-start: 20px;
}

nav > ul {
  margin: 0;
}

.nav-item {
  display: inline-block;
  list-style-type: none;
}

img {
  max-width: 80%;
}

hr {
  border: 1px solid #ADC4D1;
  width: 100%;
}

form {
  border-radius: 3px;
  display: flex;
  flex-flow: column wrap;
}

label, input, textarea, button {
  font-family: "Raleway", sans-serif;
  margin: 5px 0;
}

input {
  border: none;
  border-bottom: 2px solid #ADC4D1;
}

textarea {
  border: none;
  border-bottom: 2px solid #ADC4D1;
}

button {
  background-color: #FFF;
  border: 2px solid #ADC4D1;
  border-radius: 3px;
  color: #050505;
  padding: 15px 25px;
}

button:hover {
  box-shadow: 1px 1px 3px 3px #e0e0e0;
}

.bg-img-head {
  background-image: url(images/hollywood.jpg);
  background-position: bottom;
  padding: 100px;
}

.bg-img-foot {
  background-image: url(images/hollywood-metro.jpg);
  background-position: center;
  padding: 75px;
}

.portrait {
  border-radius: 50%;
  margin: 20px;
  width: 20%;
}

@media all and (min-width: 1200px) {

  /* Typography */

  h1 {
    align-self: center;
    font-weight: 500;
    margin-left: 30px;
    text-align: left;
  }

  .nav-link {
    font-size: 18px;
    margin-right: 30px;
  }

  li {
    font-family: "Raleway", sans-serif;
    margin: 10px;
  }

  /* Containers/Groups */

  .wrapper {
    width: 100%;
    margin: auto;
  }

  .group {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .header-group {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .nav-group {
    align-self: center;
    flex: 1;
    border: none;
    text-align: right;
  }

  .footer-group {
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 100px 300px;
  }

  /* Position & Sizing */

  .padding {
    padding: 200px 450px;
  }

  .parallax {
    background-attachment: fixed;
  }

  /* Specific Elements */

  /* form {
    width: 80%;
    margin: auto;
  } */

  label, input, textarea, button {
    margin: 10px 0;
  }

  .bg-img-head {
    padding: 450px;
  }

  .bg-img-foot {
    padding: 300px;
  }

  img {
    max-width: 40%;
  }
}