@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Raleway&family=Roboto:wght@300;400&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    filter: sepia(4%);
}

/* Typography */

.center {
    text-align: center;
}

.left {
    text-align: left;
}

h1, h2, h3 {
    flex: 1;
    font-family: "Lora", serif;
    text-align: center;
}

p {
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    text-align: left;
}

li {
    font-family: "Raleway", sans-serif;
    margin: 5px;
}

a {
    color: #212121;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    margin-right: 5px;
    text-decoration: none;
}

a:hover { 
    color: #424242;
    font-weight: 700;
}

.nav-link {
    font-family: "Lora", serif;
    font-size: 16px;
    margin-right: 5px;
    text-decoration: none;
}

.foot-link {
    font-family: "Lora", serif;
    font-size: 14px;
}

/* Containers/Group */

.wrapper {
    width: 99%;
    margin: auto;
}

.group {
    display: flex;
    flex-flow: column wrap;
}

.header-group {
    background-color: #fff8e1;
    display: flex;
    flex-flow: column wrap;
}

.nav-group {
    background-color: #ccc5af;
    flex: 1;
    text-align: center;
}

.project-group {
    align-items: center;
    display: flex;
    flex: 1;
    flex-flow: column wrap;
    padding: 20px;
}

.footer-group {
    background-color: #ccc5af;
    display: flex;
    flex-flow: column wrap;
}

/* Position & Sizing */

.padding {
    padding: 20px;
}

.parallax {
    background-repeat: no-repeat;
    background-size: cover;
}

/* Specific Elements */

ol, ul {
    padding-inline-start: 20px;
}

nav > ul {
    margin: 12px 0;
}

.nav-item {
    display: inline-block;
    list-style-type: none;
}

img {
    max-width: 80%;
}

hr {
    border: 2px solid #212121;
}

form {
    border-radius: 3px;
    display: flex;
    flex-flow: column wrap;
}

label, input, textarea, button {
    font-family: "Raleway", sans-serif;
    margin: 5px 0;
}

input {
    border: none;
    border-bottom: 2px solid #212121;
}

textarea {
    border: none;
    border-bottom: 2px solid #212121;
}

button {
    background-color: #212121;
    border: 1px solid #212121;
    border-radius: 3px;
    color: #ffffff;
}

.bg-img-head {
    background-image: url(images/hollywood.jpg);
    background-position: bottom;
    padding: 100px;
}

.bg-img-foot {
    background-image: url(images/hollywood-metro.jpg);
    background-position: center;
    padding: 75px;
}

.portrait {
    border-radius: 50%;
    margin: 20px;
    width: 20%;
}

@media all and (min-width: 1200px) {

    /* Typography */

    h1 {
        align-self: center;
        font-weight: 500;
        margin-left: 30px;
        text-align: left;
    }

    .nav-link {
        font-size: 20px;
        margin-right: 30px;
    }

    li {
        font-family: "Raleway", sans-serif;
        margin: 10px;
    }

    /* Containers/Group */

    .wrapper {
        width: 100%;
        margin: auto;
    }

    .group {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .header-group {
        display: flex;
        flex-direction: row;
    }
    
    .nav-group {
        align-self: center;
        flex: 1;
        background-color: #fff8e1;
        text-align: right;
    }

    .footer-group {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    /* Position & Sizing */

    .padding {
        padding: 100px;
    }

    .parallax {
        background-attachment: fixed;
    }

    /* Specific Elements */

    form {
        width: 80%;
        margin: auto;
    }

    label, input, textarea, button {
        margin: 10px 0;
    }

    .bg-img-head {
        padding: 300px;
    }

    .bg-img-foot {
        padding: 200px;
    }
}